<h1>Story Streams</h1>

  <!-- header -->
  <div class='content'>
    <div class='row'>
      <img src='img/header-image.jpg' width='100%' />
    </div>
  </div>

  </br>

  <div class='content'>
    <% i = 0 %>
    <% j = 0 %>
    <% @stories.each do |story| %>
      <% if i == 0  or i == 2 %>
        <div class='row'>
      <% end %>
      <% if j%2 == 0 %>
        <div class='col-md-6'>
          <img src='img/landscape3.jpg' width='104.5%'/>
        </div>
      <% else %>
        <div class='col-md-4'>
          <img src='img/landscape3.jpg' width='106.5%'/>
        </div>
      <% end %>
    <% end %>
    <% i += 1 %>
    <% if i == 2 %>
      <% j += 1 %>
    <% end %>
    <% j = j%2 %>
    <% i = i%5 %>
  </div>


<table>

  <tbody>
    <tr>
      <% @stories.each do |story| %>
        <tr>
	<td><%= link_to(story.id, story) %></td>
        <td><%= story.id %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>


