<h1>Story Streams</h1>

  <!-- header -->
  <div class='content'>
    <div class='row'>
      <img src='/assets/header-image.png' width='100%' />
    </div>
  </div>

  </br>


<table>

  <tbody>
    <div class='content'>
    <tr>
      <center>
      <% @stories.each do |onestory| %>
          <% onestory.pictures.each do |picture| %>
            <%= link_to(image_tag(picture.url, with: "200", height: "200"), onestory) %>
          <% end %>
      <% end %>
      </center>
    </tr>
    <tr>
    </tr>
  </div>
  </tbody>
</table>

<br>

<p><%= link_to 'New Story', new_story_path %></p>



<div id="tag_cloud">
  <% tag_cloud Story.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>