
  <!-- header -->
  <div class='content' style="position:relative;margin-top:50px">
    <div class='row'>
      <img style="position: relative;" src='/assets/header-image4.jpg' width='100%' />
    </div>
  </div>

  </br>
<table>
  <tbody>
    <div class='content'>
    <tr>
      <center style="margin-top: 0px;">
      <% @stories.each do |onestory| %>
          <% picture = onestory.cover_picture || onestory.pictures.first %>
          <%= link_to(image_tag(picture.filename_url(:thumb), with: "200", height: "200"), onestory) if picture %>
      <% end %>
      </center>
    </tr>
    <tr>
    </tr>
  </div>
  </tbody>
</table>

<br>

<p style="text-align:center;"><%= link_to 'New Story', new_story_path, :class => "btn btn-warning" %></p>

<div id="tag_cloud" style="width:100%; text-align: center; padding-bottom: 50px; padding-top: 50px;">
  <% tag_cloud Story.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
