<h1>Story Streams</h1>

<table>

  <tbody>
    <tr>
      <% @stories.each do |story| %>
	<td><%= link_to(story.id, story) %></td>
        <td><%= story.id %></td>
      <% end %>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
