/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #cccccc;
 }

.stories .container {
    width:100%;
}

.container2 {
    margin-top: 100px;
    margin-left: 100px;
    font-family: 'Pacifico', cursive;
}

.devise_sessions-new .login-form {
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    font-size: 15px;
    width: 600px;
    margin:0 auto;
    margin-top: 150px;
    height: 320px;
}

.devise_registrations-new .login-form {
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    font-size: 15px;
    width: 600px;
    margin:0 auto;
    margin-top: 150px;
    height: 370px;
}

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }


.devise_sessions-new, .devise_registrations-new {

	background: url('/assets/header-image-login.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.devise_session-new label {
    color: white;
}

.devise_registrations-new label {
    color: white;
}

/* login */

.devise_sessions-new .login-form {
	padding: 30px;
	position: relative;
}

.devise_sessions-new .login-form input {
	float: right;
	background: #cccccc;
  border: none;
  height: 35px;
}
.devise_sessions-new .login-form input[type='submit']{
	background: #FF9933;
  border: 5px solid white;
  padding: 18px 20px 35px 20px;
  border-radius: 50px;
  top: 45px;
  right: 0px;
}

.devise_sessions-new .login-form .form-line {
	width: 500px;
	height: 65px;
}

.devise_sessions-new .logo {
	color: white;
  font-family: 'Pacifico', cursive;
	font-size: 45px;
}


/* registration */

.devise_registrations-new .login-form {
	padding: 30px;
	position: relative;
}

.devise_registrations-new .login-form input {
	float: right;
	background: #cccccc;
  border: none;
  height: 35px;

}
.devise_registrations-new .login-form input[type='submit']{
	background: #FF9933;
  border: 5px solid white;
  padding: 18px 20px 35px 20px;
  border-radius: 50px;
  top: 45px;
  right: 0px;
}

.devise_registrations-new .login-form .form-line {
	width: 540px;
	height: 65px !important;
}

.devise_registrations-new .logo {
	color: white;
  font-family: 'Pacifico', cursive;
	font-size: 45px;
}
